@import "../../styles/common.scss";

.FeedMain {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 20px;
  width: 100%;
  max-width: 1024px;

  .Feed {
    margin-top: 5px;

    .orderBtn {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 865px;
      margin: 0 0 10px 0;
      span {
        cursor: pointer;
      }

      .ordActive {
        color: $themeColor;
      }
    }

    .filterBtn {
      width: 48px;
      height: 24px;
      border: none;
      background: #ffffff 0% 0% no-repeat padding-box;
      color: #adb5bd;
      border-radius: 3px;
      border-color: #e1e4e7;
      cursor: pointer;
    }

    .feedCard {
      margin-bottom: 28px;
      padding: 24px 30px;
      width: 70vw;
      max-width: 865px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #e1e4e7;
      border-radius: 5px;

      .cardHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: 13px;
      }

      .underBar {
        width: 65vw;
        max-width: 805px;
        height: 1px;
        background: #e1e4e7 0% 0% no-repeat padding-box;
      }

      .userContent {
        display: flex;
        font-size: 13px;
        margin: 10px 0;

        .userId {
          color: $themeColor;
        }

        .verticalBar {
          width: 1px;
          height: 15px;
          background: #e1e4e7 0% 0% no-repeat padding-box;
        }
      }

      h1 {
        margin-bottom: 6px;
        font-size: 18px;
      }

      p {
        word-wrap: break-word;
      }
    }

    .adsCard {
      margin-bottom: 28px;
      padding: 24px 30px;
      width: 70vw;
      max-width: 865px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #e1e4e7;
      border-radius: 5px;

      .sponserName {
        font-size: 13px;
      }

      .adsContent {
        display: flex;
        margin-top: 16px;

        .adsImg {
          margin-right: 30px;
          min-width: 160px;
          height: 179px;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .adsText {
          margin: 10px 0 0 0px;
          width: 50vw;
          max-width: 465px;
          word-wrap: break-word;

          h1 {
            margin-bottom: 7px;
            font-size: 18px;
            font-weight: bold;
          }

          p {
            word-wrap: break-word;
          }
        }
      }
    }
  }

  .Modals.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
