@import "../../styles/common.scss";

.detail {
  padding-top: 50px;
  background-color: #ffffff;

  .feedCard {
    margin: 0 auto;
    margin-bottom: 28px;
    padding: 24px 30px;
    width: 80vw;
    max-width: 1024px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid $themeColor;
    border-radius: 5px;

    h1 {
      margin-bottom: 8px;
    }

    p {
      margin: 10px 0;
    }

    .createDay {
      font-size: 13px;
    }
  }

  .answerInfo {
    margin: 0 auto;
    margin-bottom: 28px;
    width: 80vw;
    max-width: 1024px;

    span {
      color: $themeColor;
    }
  }

  .answerCard {
    margin: 0 auto;
    margin-bottom: 28px;
    padding: 24px 30px;
    width: 80vw;
    max-width: 1024px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e1e4e7;
    border-radius: 5px;

    h2 {
      color: #7e848a;
    }

    .underBar {
      margin: 8px 0 12px;
      width: 75vw;
      max-width: 1024px;
      height: 1px;
      background: #e1e4e7 0% 0% no-repeat padding-box;
    }

    p {
      margin-top: 8px;
      margin-bottom: 12px;
    }

    .createDay {
      font-size: 13px;
      color: #adb5bd;
    }
  }
}

@media screen and (max-width: 768px) {
  .detail {
    padding-top: 10px;

    .answerCard {
      .underBar {
        width: 72vw;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .detail {
    .feedCard {
      padding: 24px 0 24px;
      width: 90%;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }

    .answerInfo {
      margin: 0;
      margin-left: 18px;
      margin-bottom: 14px;
    }

    .answerCard {
      padding: 24px 0 24px;
      width: 90%;
      border-color: #e1e4e7;
      border-left: none;
      border-right: none;
      border-radius: 0;

      .underBar {
        width: 100%;
      }
    }
  }
}
